.App {
  font-family: 'Open Sans', sans-serif;
  background: #FFFFFF;
}

header {
  background: #3F4346;
  color: #FCFDFD;
  height: 48px;
  font-family: 'Museo-700';
  font-size: 24px;
}

footer {
  background: #EBEBEB;
  height: 48px;
}

main {
  margin-bottom: 0px;
}

button:focus {outline:0;}

.logo {
  margin-top: 7px;
  padding-left: 13px;
  font-size: 25px;
  width: auto;
  user-select: none;
  cursor: pointer;
  float: left;
}

.search {
  position: relative;
  top: 5px;
  left: 15px;
  height: 32px;
  width: 130px;
  padding-left: 30px;
  padding-top: 2px;
  border-radius: 4px;
  border: none;
  background: #5A5C5F;
  color: #26292C;
  outline: none;
}

::placeholder {
  color: #26292C;
}

.search:hover {
  background: #8E9092;
}

.search:focus {
  background: #FFFFFF;
  color: #404346;
}

.search:focus::placeholder {
  color: #AFAFAF;
}

.fa-search {
  position: absolute;
  top: 12px;
  left: 145px;
  color: #26292C;
  transform: scale(0.6);
  z-index: 1;
}

.fa-building {
  color: #747474;
  margin-right: 5px;
}

.section-title {
  font-weight : bold;
  padding: 20px 18px;
  border-bottom: solid 2px #F0F0F0;
  margin-bottom: 14px;
}

/* PERSON ROW */

.person-button-add {
  margin: 0 15px 5px 20px;
  padding: 8px 22px;
  background: #2cbf55;
  border: none;
  font-weight: bold;
  color: #FFFFFF; 
  border-radius: 3px;
  user-select: none;
  box-shadow: 0 1px 2px rgba(38,41,44,.08);
  cursor: pointer;  
  transition: all 0.15s ease-in-out;
}

.person-button-add:hover {
  background: #4EC970;
}

.person-container {
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-template-areas: "name image" "organization image";
  border: solid 2px #F0F0F0;
  background: #FFFFFF;
  padding: 12px 20px;
  margin: 8px 20px 0px 20px;
  cursor: pointer;
  user-select: none;

}

.person-container:hover {
  background: #F7F7F7;
}

.person-name {
  grid-area: name;
  font-size: 14px;
}

.person-organization{
  grid-area: organization;
  color: #AFAFAF;
  font-size: 12px;
}

.image-cropper {
  grid-area: image;
  width: 42px;
  height: 42px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #F0F0F0;
  margin: 0 auto;
}

.person-image {
  width: 100%;
  height: 100%;
}

.person-image-missing {
  background: #DEE9FB;
  text-align: center;
  color: #3C7BD5;
  line-height: 41px;
  font-weight: bold;
}

.lg{
  background: #DEE9FB;
  text-align: center;
  font-size: 20px;
  line-height: 61px;
  color: #3C7BD5;
  font-weight: bold;
}

/* PERSON MODAL WINDOW */
.modal-visible {
  display: block;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 100vh;
  background:rgba(0,0,0,0.50)
}

.modal-invisible {
  display: none;
}

.modal-info {
  height: 200px;
}

.modal-container {
  position: relative;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  width: 342px;
  margin: 0 auto;
  border: solid 1px #F0F0F0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.15  );
  -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.15);
}

.modal-header {
  box-sizing: border-box;
  background: #F7F7F7;
  font-weight: bold;
  font-size: 14px;
  padding: 12px 15px;
  border-bottom: solid 2px #F0F0F0;
}

.modal-person {
  margin: 30px auto;
  border-bottom: solid 2px #F0F0F0;
  width: 95%;
  text-align: center;
  padding-bottom: 20px;
}

.modal-person .image-cropper {
  width: 64px;
  height: 64px;
  margin-bottom: 15px;
}

.modal-name {
  font-weight: bold;
}

.modal-phone {
  color: #80DDA4;
  font-weight: bold;
  font-size: 14px;
} 

.modal-info-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 15px;
}

.modal-info-title {
  line-height: 12px;
  font-weight: bold;
  font-size: 12px;
  color: #838383;
  text-align: right;
  padding-right: 20px;
}

.modal-info-data{
  line-height: 12px;
  font-size: 11px;
  font-weight: 600;
  color: #BBBBBB;
}

.modal-footer {
  box-sizing: border-box;
  background: #F7F7F7;
  padding-top: 6px;
  border-top: solid 2px #F0F0F0;
  height: 47px;
}

.modal-button{
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 8px 22px;
  background: #FFFFFF;
  border: 1px solid #D5D5D5;
  font-weight: bold;
  color: #3F4346; 
  border-radius: 3px;
  user-select: none;
  box-shadow: 0 1px 2px rgba(38,41,44,.08);
  cursor: pointer;  
  transition: all 0.15s ease-in-out;
}

.modal-button:hover {
  background: #F7F7F7;
}

.fa-times{
  position: relative;
  float: right;
  line-height: 20px;
  color: #7D7D7D;
  cursor: pointer;
}

/* ADD PERSON MODAL WINDOW */
.person-add-body {
  margin: 30px auto;
  padding: 0 20px 0 15px;
  text-align: left;
}

.person-add-input {
  border: 1px solid #cbcccd;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 20px;
  color: #26292c;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
}

.person-add-input:focus {
  outline: none;
  border: 1px solid #317AE2;
}

.person-save {
  float: right;
}

.person-add-label {
  margin: 5px 0 2px 0;
  color: #AFAFAF;
}

.person-button-delete {
  margin-left: 15px;
  padding: 8px 12px;
  background: #FFFFFF;
  border: none;
  font-weight: bold;
  border-radius: 3px;
  user-select: none;
  box-shadow: 0 1px 2px rgba(38,41,44,.08);
  cursor: pointer;  
  transition: all 0.15s ease-in-out;
}

.person-button-delete:hover {
  background: #fdfdfd;
}

/* PAGINATION */
.pagination-container {
  margin: 0 auto;
  text-align:center;
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-container button {
  float: none;
}

.pagination-button-container-left {
  width: 100px;
}

.pagination-button-container-right {
  width: 100px;
}

.pagination-button{
  margin-right: 15px;
  padding: 8px 22px;
  background: #FFFFFF;
  border: 1px solid #D5D5D5;
  font-weight: bold;
  color: #3F4346; 
  border-radius: 3px;
  user-select: none;
  box-shadow: 0 1px 2px rgba(38,41,44,.08);
  cursor: pointer;  
  transition: all 0.15s ease-in-out;
}

.pagination-button:hover {
  background: #F7F7F7;
}